.App {
  color: white;
}

.MyMargin {
  margin-top: 100px;
  margin-bottom: 200px;
}

.SectionTitle {
  text-align: center;
  margin: 50px;
}

.SubSectionTitle {
  text-align: center;
  margin: 30px 10px 10px;
}

.div-centered {
  text-align: left;
  max-width: 450px;
}

.scrollPoint {
  height: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}
